.menu {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  background-color: rgb(80, 80, 255);
  color:white;
}

.item {
  display: flex;
  padding: 10px;
  font-size: 20px;
}

.end {
  display: flex;
  justify-content: flex-end;
}