/* Parte 1 */

h1 {
    font-size: 65px;
    font-family: sans-serif;
    color: orange;
}

ul {
    background: red;
    font-style: italic;
    line-height: 50px;
}

.mod {
    background: blue;
}

p {
    font-weight: 600;
    font-size: 48px;
}

body {
    font-size: 16px;
}

#a {
    background: yellow;
}

#v {
    background: red;
}

#m {
    background: rgb(92, 49, 0);
}