.App {
  padding: 10px;
}

.Joke {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

button {
  border: solid 1px black;
  border-radius: 3px;
  font-size: medium;
  padding: 3px;
  margin-left: 25px;
}

button:active {
  color: red;
}