:root {
  --w: 100px;
}

.super-mario {
 width: var(--w);
}

.goomba {
  width: var(--w);
}

.baloon {
  width: var(--w);
  position: absolute;
  z-index: 2;
}

.bowser {
  width: var(--w);
  margin-left: 100px;
  position: absolute;
  z-index: 1;
}

.word {
  width: var(--w);
  font-size: 12px;
  position: absolute;
  top: 240px;
  left: 120px;
  z-index: 3;
}