@media screen and (min-width: 800px) {
  body {
    font-size: 1.5em;
  }
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.7em;
  }
  img {
    max-width: 100%;
  }
  figure {
    margin: 20px 0;
  }
  .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 1.2em;
    background-color: blue;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 2em;
  }
  img {
    max-width: 100%;
  }
  figure {
    margin: 20px 0;
  }
  .column {
    flex-flow: column nowrap;
  }
}