div a img {
  width: 150px;
  height: 100px;
}

div {
  display: inline-block;
  text-align: center;
}

iframe {
  float: right;
}

footer {
  text-align: center;
  background-color: darkgrey;
}

nav {
  background-color: darkgray;
  padding: 10px;
  margin-bottom: 10px;
}

.tumb {
  width: 300px;
  height: 200px;
}

.center {
  text-align: center;
  margin: auto;
}

.contact {
  margin: 15px 10px;
}